.Animal__image {
  max-width: 100%;
  height: auto;
  border-radius: 24px;
  margin-top: 1rem;
}

.Animal__type {
  font-size: 2rem;
  margin: 1rem 0;
  color: gray;
}
.Animal {
  text-align: center;
  padding: 1rem;
  background-color: rgb(91, 233, 91);
  border-radius: 12px;
  box-shadow: 0 2px 8px purple;
}
